# Obtain the Image Paths and create data folds

## Preliminaries

In [1]:
%cd ..

d:\Hackathons\Kaggle\ultra-mnist

In [2]:
import pandas as pd 
import numpy as np

import utilities.utils as utils

In [3]:
cfg = utils.load_config("project_config.yaml")

## Load data

In [4]:
df_train = pd.read_csv(cfg['TRAIN_CSV'])
df_test = pd.read_csv(cfg['TEST_CSV'])

## Prepare Initial Dataframe

In [5]:
df_train = utils.get_image_path(df_train, "train")
df_test = utils.get_image_path(df_test, "test")

## Rename Columns

In [6]:
df_train.rename(
    columns = {
        'id': 'image_id', 
        'digit_sum':'target'
    }, 
    
    inplace = True
)

df_train.head()

     image_id  target                   image_path
0  vyctxmodyu      12  input/train/vyctxmodyu.jpeg
1  kghlqhpshk      14  input/train/kghlqhpshk.jpeg
2  rfznywdgjo      19  input/train/rfznywdgjo.jpeg
3  zllfkikwrw      24  input/train/zllfkikwrw.jpeg
4  qeiqjoqakl      20  input/train/qeiqjoqakl.jpeg

In [9]:
df_test.rename(
    columns = {
        # 'id': 'image_id', 
        'digit_sum':'target'
    }, 
    
    inplace = True
)

df_test.head()

     image_id  target                  image_path
0  olcqzjjmps       0  input/test/olcqzjjmps.jpeg
1  qonrlmzrze       0  input/test/qonrlmzrze.jpeg
2  oguhficayk       0  input/test/oguhficayk.jpeg
3  jxivhbyazh       0  input/test/jxivhbyazh.jpeg
4  ywwoqmkfjk       0  input/test/ywwoqmkfjk.jpeg

In [7]:
# Change order of columns
df_train = df_train[['image_id', 'image_path', 'target']]

df_train.head()

     image_id                   image_path  target
0  vyctxmodyu  input/train/vyctxmodyu.jpeg      12
1  kghlqhpshk  input/train/kghlqhpshk.jpeg      14
2  rfznywdgjo  input/train/rfznywdgjo.jpeg      19
3  zllfkikwrw  input/train/zllfkikwrw.jpeg      24
4  qeiqjoqakl  input/train/qeiqjoqakl.jpeg      20

In [10]:
# Change order of columns
df_test = df_test[['image_id', 'image_path', 'target']]

df_test.head()

     image_id                  image_path  target
0  olcqzjjmps  input/test/olcqzjjmps.jpeg       0
1  qonrlmzrze  input/test/qonrlmzrze.jpeg       0
2  oguhficayk  input/test/oguhficayk.jpeg       0
3  jxivhbyazh  input/test/jxivhbyazh.jpeg       0
4  ywwoqmkfjk  input/test/ywwoqmkfjk.jpeg       0

## StratifiedKFold

In [11]:
df_train = utils.get_skfold(df_train)

df_train.head()

     image_id                   image_path  target  fold
0  vyctxmodyu  input/train/vyctxmodyu.jpeg      12   2.0
1  kghlqhpshk  input/train/kghlqhpshk.jpeg      14   0.0
2  rfznywdgjo  input/train/rfznywdgjo.jpeg      19   3.0
3  zllfkikwrw  input/train/zllfkikwrw.jpeg      24   2.0
4  qeiqjoqakl  input/train/qeiqjoqakl.jpeg      20   0.0

## Save Dataset

In [12]:
df_train.to_csv("input/train_folds.csv", index=False)

In [13]:
df_test.to_csv("input/test.csv", index=False)