# Obtain the Image Paths and create data folds

## Preliminaries

In [1]:
%cd ..

/home/ultra-mnist

In [2]:
import pandas as pd 
import numpy as np

import utilities.utils as utils

In [3]:
cfg = utils.load_config("project_config.yaml")

## Load data

In [4]:
df_train = pd.read_csv(cfg['TRAIN_CSV'])
df_test = pd.read_csv(cfg['TEST_CSV'])

## Prepare Initial Dataframe

In [5]:
df_train = utils.get_image_path(df_train, "train")
df_test = utils.get_image_path(df_test, "test")

## Rename Columns

In [8]:
df_train.rename(
    columns = {
        'id': 'image_id', 
        'digit_sum':'target'
    }, 
    
    inplace = True
)

df_train.head()

     image_id  target                   image_path
0  jmwdcbkdqn      11  input/train/jmwdcbkdqn.jpeg
1  azjintiubk      20  input/train/azjintiubk.jpeg
2  iagdhkonwb       2  input/train/iagdhkonwb.jpeg
3  kcxsziarmr       4  input/train/kcxsziarmr.jpeg
4  fbjxcxgdxv      25  input/train/fbjxcxgdxv.jpeg

In [9]:
# Change order of columns
df_train = df_train[['image_id', 'image_path', 'target']]

df_train.head()

     image_id                   image_path  target
0  jmwdcbkdqn  input/train/jmwdcbkdqn.jpeg      11
1  azjintiubk  input/train/azjintiubk.jpeg      20
2  iagdhkonwb  input/train/iagdhkonwb.jpeg       2
3  kcxsziarmr  input/train/kcxsziarmr.jpeg       4
4  fbjxcxgdxv  input/train/fbjxcxgdxv.jpeg      25

## StratifiedKFold

In [10]:
df_train = utils.get_skfold(df_train)

df_train.head()

     image_id                   image_path  target  fold
0  jmwdcbkdqn  input/train/jmwdcbkdqn.jpeg      11   2.0
1  azjintiubk  input/train/azjintiubk.jpeg      20   0.0
2  iagdhkonwb  input/train/iagdhkonwb.jpeg       2   3.0
3  kcxsziarmr  input/train/kcxsziarmr.jpeg       4   2.0
4  fbjxcxgdxv  input/train/fbjxcxgdxv.jpeg      25   0.0

## Save Dataset

In [11]:
df_train.to_csv("input/train_folds.csv", index=False)

In [12]:
df_test.to_csv("")

(28000, 2)