# EDA

## Preliminaries

In [2]:
import pandas as pd
import numpy as np

In [12]:
%cd ..

/home/ultra-mnist

In [15]:
df = pd.read_csv("input/train.csv")

In [16]:
df.head()

           id  digit_sum
0  jmwdcbkdqn         11
1  azjintiubk         20
2  iagdhkonwb          2
3  kcxsziarmr          4
4  fbjxcxgdxv         25

In [17]:
df.shape

(28000, 2)

In [19]:
df.digit_sum.max(), df.digit_sum.min()

(27, 0)

In [25]:
np.sort(df.digit_sum.unique())

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27])